/*--------CSS FILE FOR INDEX PAGE--*/


/*--------IMAGE BLOCK--*/

#header {
	padding-top: 300px;
	height: 80vh;
	width: auto;
	top: 0;
	background-image: url("../images/blog_3x1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
    border-bottom-width: 5px;
    border-bottom-color: grey;
    border-bottom-style: groove;
}


/*--------NAME/PROFESSION PAGE TITLE--*/

.title {
	margin: 0px;
	font-family: "Myriad Pro", serif;
	opacity: 1;
	z-index: 1;
	color: white;
	display: block;
	padding-left: 40px;
	text-align: left;
	font-size: 5rem;
	font-weight: bold;
	text-shadow: 0px 0px 4px black;
}

.title2 {
	margin: 0px;
	font-family: "Myriad Pro", serif;
	opacity: 1;
	z-index: 1;
	color: white;
	display: block;
	padding-top: 10px;
	padding-left: 40px;
	text-align: left;
	font-size: 3.5rem;
	font-weight: bold;
	text-shadow: 0px 0px 3px black;
}


/*--------Styling article--*/
#article {
	display: block;
	background-color: #1f1f1f;
	margin: 40px;
	padding: 20px;
	border-radius: 10px;
}

#article h1 {
	font-size: 2rem;
	font-weight: bold;
	font-style: normal;
	padding-top: 25px;
	color: white;
	opacity: 1;
	text-shadow: 0px 0px 2px grey;
	opacity: 1;
}

#article h4 {
	font-size: 1.5rem;
	color: white;
	font-weight: normal;
	font-style: italic;
}

#article p {
	font-size: 1.8rem;
	color: white;
	opacity: 1;
	font-weight: normal;
}

#listBlog li {
	font-size: 1.5rem;
	padding-bottom: 2px;
}

/*--------Styling links--*/

#links {
	display: block;
	margin: 40px;
}

#links h2 {
	color: white;
	padding-top: 15px;
	font-size: 2rem;
	font-weight: normal;
	font-style: normal;
	text-shadow: 0px 0px 2px grey;

}

#links li a {
	color: grey;
	font-size: 1.8rem;
	font-style: italic;
	text-decoration: none;
	font-weight: normal;
}

#links li a:hover {
	color: white;
}
