#content {
	font-family: "Trebuchet MS", Sans-serif;
	color: white;
	height: 100%;
	font-size: 25px;
	background-color: black;
	opacity: 0,9;
	margin: 0px;
	padding: 0px;
}

.home {
	display: inline-block;
	left: 0;
	position: fixed;
	margin-top: 5px;
	margin-left: 30px;
	opacity: 1;
	z-index: 1;
	text-shadow: 0px 0px 3px white;
}

#menu {
	display: inline-block;
	right: 0;
	position: fixed;
	font-weight: bold;
	margin-top: 20px;
	margin-right: 20px;
	opacity: 1;
	z-index: 1;
}

#menu a {
	padding-right: 10px;
	color: black;
	text-shadow: 0px 0px 3px white;
	text-decoration: none;
}

#header {
	height: 80vh;
	width: auto;
	background-image: url("../images/profile_3x2.jpg");
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	z-index: -1;
}

.title {
	margin: 0px;
	font-family: "Myriad Pro", serif;
	opacity: 1;
	z-index: 1;
	color: white;
	display: block;
	padding-top: 250px;
	padding-left: 40px;
	text-align: left;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.title2 {
	margin: 0px;
	font-family: "Myriad Pro", serif;
	opacity: 1;
	z-index: 1;
	color: white;
	display: block;
	padding-top: 10px;
	padding-left: 40px;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 0px 0px 8px rgb(0, 0, 0);
}

#intro {
	padding: 40px;
	font-size: 0.9em;
	font-style: italic;
}

#text {
	font-size: 0.8em;
	padding: 40px;
}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
}

